:root {
  /* برای تغییر تم رنگ های پایین رو عوض کن */
  /* Colors */
  --dark-gray: #a9a9a9;
  --light-gray: #d3d3d3;
  --soft-blue: #89cff0;
  --library-green: #49796b;
  --library-green-dark: #28463d;
  --white: #ffffff;
  --black: #000000;

  /* Max width */
  --max-width: 1200px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  max-width: var(--max-width);
  margin: auto;
  width: 100%;
}
